.app__title {
    text-align: center;
}

.pandemic__start__wrapper {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
}

.pandemic__end__wrapper {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
}

.red {
    width: 50px;
    height: 50px;
    margin: 5px;
    background: red;
}

.blue {
    width: 50px;
    height: 50px;
    margin: 5px;
    background: blue;
}

.green {
    width: 50px;
    height: 50px;
    margin: 5px;
    background: green;
}
